 <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dodaj Uzytkownika
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php?controller=">Strona główna</a>
                            </li>
                            <li class="active">
                                Dodaj Uzytkownika
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="col-lg-12">
                        
                        {%for msg,class in message%}
                            <p class='{{class}}' >{{msg}}</p>
                            {%endfor%}
                        <form role="form" method='POST' action=''>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Login uzytkownika</span>
                                <input name='user_username' type="text" class="form-control" placeholder="Wpisz login uzytkownika">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Haslo uzytkownika</span>
                                <input name='user_password' type="text" class="form-control" placeholder="Wpisz haslo uzytkownika">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Haslo uzytkownika</span>
                                <input name='user_password2' type="text" class="form-control" placeholder="Wpisz ponownie haslo uzytkownika">
                            </div>

                            
                            
                            <button type="submit" class="btn btn-success">Dodaj Uzytkownika</button>
                            

                        </form>

                        

                    </div>
                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{PATH}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{PATH}}js/bootstrap.min.js"></script>

</body>

</html>
