        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Lista kategorii
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php?controller=">Strona główna</a>
                            </li>
                            <li class="active">
                                Lista kategorii
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="col-lg-12">
                        
                       <table class='table table-bordered table-hover table-striped'>
                           <th><td>ID</td><td>Nazwa kategorii</td><td>Opis kategorii</td><td>Ilość produktów</td><td>Edytuj</td><td>Usun</td></th>                             
                       {%for category in data.categories%}
                       <tr><td></td><td>{{category.category_id}}</td><td>{{category.category_name}}</td><td>{{category.category_desc}}</td><td>{{category.category_quantity}}</td>                         
                           <td><a href='index.php?controller=CategoryAdmin&action=editCategory&id={{category.category_id}}' class='btn btn-success'>Edytuj</a></td>
                           <td><a href='index.php?controller=CategoryAdmin&action=deleteCategory&id={{category.category_id}}' class='btn btn-danger'>Usun</a></td>
                       </tr>
                       {%endfor%}
                       </table>

                        

                    </div>
                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{PATH}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{PATH}}js/bootstrap.min.js"></script>

</body>

</html>

