        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Lista produktów
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php?controller=">Strona główna</a>
                            </li>
                            <li class="active">
                                Lista produktów
                            </li>
                        </ol>
                             {%for msg,class in message%}
                            <p class='{{class}}' >{{msg}}</p>
                            {%endfor%}
                    </div>
                </div>
                <!-- /.row -->

                    <div class="col-lg-12">
                            {%for msg,class in message%}
                            <p class='{{class}}' >{{msg}}</p>
                            {%endfor%}
                       <table class='table table-bordered table-hover table-striped'>
                           <th><td>ID</td><td>Nazwa produktu</td><td>Marka produktu</td>
                                <td>Cena produktu</td><td>Kategoria produktu</td><td>Opis produktu</td>
                                <td>Edycja</td><td>Usun</td></th>
                       {%for product in data.products%}
                       <tr><td></td><td>{{product.product_id}}</td><td>{{product.product_title}}</td><td>{{product.product_brand}}</td>
                           <td>{{product.product_price}}</td><td>{{product.product_category}}</td><td>{{product.product_desc}}</td>
                           <td><a href='index.php?controller=ProductAdmin&action=editProduct&id={{product.product_id}}'class='btn btn-success'>E</a></td>
                           <td><a href='index.php?controller=ProductAdmin&action=deleteProduct&id={{product.product_id}}'class='btn btn-danger'>U</a></td>
                       </tr>
                       {%endfor%}
                       </table>

                        

                    </div>
                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{PATH}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{PATH}}js/bootstrap.min.js"></script>

</body>

</html>
