        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Lista użytkowników
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php?controller=">Strona główna</a>
                            </li>
                            <li class="active">
                                Lista użytkowników
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="col-lg-12">
                        
                       <table class='table table-bordered table-hover table-striped'>
                           <th><td>ID</td><td>Nazwa uzytkownika</td><td>Edytuj</td><td>Usun</td></th>                             
                       {%for user in data.users%}
                       <tr><td></td><td>{{user.user_id}}</td><td>{{user.user_username}}</td>                           
                           <td><a href='index.php?controller=UserAdmin&action=editUser&id={{user.user_id}}' class='btn btn-success'>Edytuj</a>
                           </td><td><a href='index.php?controller=UserAdmin&action=deleteUser&id={{user.user_id}}' class='btn btn-danger'>Usun</a></td>
                       </tr>
                       {%endfor%}
                       </table>

                        

                    </div>
                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{PATH}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{PATH}}js/bootstrap.min.js"></script>

</body>

</html>
