        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edytuj kategorie {{data.category.category_name}}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php?controller=">Strona główna</a>
                            </li>
                            <li class="active">
                                Edytuj kategorie {{data.category.category_name}}
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="col-lg-12">
                        
                        {%for msg,class in message%}
                            <p class='{{class}}' >{{msg}}</p>
                            {%endfor%}
                        <form role="form" method='POST' action=''>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Nazwa kategorii</span>
                                <input name='category_name' type="text" class="form-control" placeholder="{{data.category.category_name}}">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Opis kategorii</span>
                                <input name='category_desc' type="text" class="form-control" placeholder="{{data.category.category_desc}}">
                            </div>

                            
                            <button type="submit" class="btn btn-success">Aktualizuj kategorie</button>
                            

                        </form>

                        

                    </div>
                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{PATH}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{PATH}}js/bootstrap.min.js"></script>

</body>

</html>
