 
<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edytujesz produkt {{data.products.product_title}}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.php?controller=">Strona główna</a>
                            </li>
                            <li class="active">
                                Edytuj produkt {{data.products.product_title}}
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="col-lg-12">
                        
                        {%for msg,class in message%}
                            <p class='{{class}}' >{{msg}}</p>
                            {%endfor%}
                        <form role="form" method='POST' action=''>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Nazwa produktu</span>
                                <input name='product_title' type="text" class="form-control" value="{{data.products.product_title}}">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Marka produktu</span>
                                <input name='product_brand' type="text" class="form-control" value="{{data.products.product_brand}}">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Cena produktu - PLN</span>
                                <input name='product_price' type="text" class="form-control" value="{{data.products.product_price}}">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">Opis produktu</span>
                                <input name='product_desc' width='40px' type="textarea" class="form-control" value='{{data.products.product_desc}}'>
                               
                            </div>
                            
                            <div class="form-group input-group">
                                
                                <input type="file" class="form-control">
                                <label for='product_category'>Wybierz kategorie produktu</label>
                                <select name='product_category' class='form-control'>
                                    {% for category in data.category %}
                                        <option value='{{category}}'>{{category}}</option>
                                        {%endfor%}
                                </select>
                                
                            </div>
                            
                            <button type="submit" class="btn btn-success">Zaaktualizuj produkt</button>
                            

                        </form>

                        

                    </div>
                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{PATH}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{PATH}}js/bootstrap.min.js"></script>

</body>

</html>

